<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>LOGIN</h2>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}  
{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username:</label><input type="text" name="username" id="username"></label>
        <label for="password">Password:</label><input type="password" name="password" id="password"></label>
        
        <input type="submit" value="Login">
    </form>
    <button><a href="{% url 'register' %}">REGISTER</button>
</body>
</html>